/* @tailwind base;
@tailwind components;
@tailwind utilities;
*/

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --app-border: 10px;
  --side-bg: #1d2432;
  --main-gold-color: #feb949;
  --max-app-width: 1500px;
  --min-app-height: 50vh;
}

@media only screen and (max-width: 600px) {
  :root {
    --app-border: 0;
  }
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background-color: #1d243281;
  margin: 0;
  padding: 0;
  color: #000;
}

button {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  background: linear-gradient(to bottom, #feb949fe, #feba49, #feba49);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  word-break: break-all;
}

@keyframes SearchLoading {
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(160deg);
  }
  50% {
    transform: rotate(250deg);
  }
  75% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes LandingLoader {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(90%);
  }
  100% {
    transform: translate(5%);
  }
}
