/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  /* background-color: gold; */
  background-color: #1d243281;
  margin: 0;
  padding: 0;
  color: #000;
}

button {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  background: linear-gradient(to bottom, #feb949fe, #feba49, #feba49);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@keyframes SearchLoading {
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(160deg);
  }
  50% {
    transform: rotate(250deg);
  }
  75% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
